*.suo
*.cache
Paint Program/obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.suo
Paint Program/bin/Debug/Paint Program.pdb
*.exe
Paint Program/obj/Debug/Paint Program.pdb
*.pdb
*.cache
.vs/Paint Program/v14/.suo
*.pdb
Paint Program/obj/Debug/Paint Program.exe
Paint Program/obj/Debug/DesignTimeResolveAssemblyReferences.cache